server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    #default_batch_fetch_size: 100
    open-in-view: false
  servlet:
    multipart:
      maxFileSize: 10MB # 파일 하나의 최대 크기
      maxRequestSize: 30MB  # 한 번에 최대 업로드 가능 용량

discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit/dev/storage


info:
  app:
    name: Discodeit
    application-version: 1.7.0
    java-version: 17
    spring-boot: 3.4.0
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    driver-class-name: org.postgresql.Driver
  jpa:
    ddl-auto: validate
  storage:
    type: local
    path: .discodeit/dev/storage
  multipart:
    maxFileSize: 10MB
    maxRequestSize: 30MB

management:
  endpoints:
    web:
      exposure:
        include: health, loggers, info, metrics
  endpoint:
    health:
      show-details: always

  info:
    env:
      enabled: true