name: AWS connection test
on:
  workflow_dispatch:

jobs:
  test-aws-connection:
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Test AWS CLI
      run: |
        aws sts get-caller-identity
        aws ecr describe-repositories --repository-names discodeit-ecr

    - name: Generate coverage report
      run: mvn clean test jacoco:report

    - name: Upload coverage to CodeCov
      uses: codecov/codecov-action@v3
      with:
        files: ./target/site/jacoco/jacoco.xml
        flags: unittests
        name: codecov-umbrella